<h1>Update product</h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name %>
  </div>

  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
  </div>

  <div>
    <%= label_tag :inventory %>
    <%= text_field_tag :inventory, @product.inventory %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_area_tag :description, @product.description %>
  </div>

  <div>
    <%= label_tag :image %>
    
    <% @product.images.each_with_index do |image, index| %>  
      <img src="<%= image.image_url %>" class="img-responsive product_edit_thumbnail">
    <% end %>

    <a href="/images/<%= @image.id %>/edit" class="btn btn-default btn-sm">Edit Images</a>

  </div>
  <br>

  <%= submit_tag "Update", class: "btn btn-default" %>

<% end %>