<div class="col-md-12">

<!-- Extra small button group -->
<div class="btn-group">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filters <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- <li><a href="/products?filter=lowest">Lowest to Highest</a>
    </li>
    <li><a href="/products?filter=highest">Highest to Lowest</a>
    </li> -->
    <li><a href="/products?filter=price&filter_order=asc">Lowest to Highest</a>
    </li>
    <li><a href="/products?filter=price&filter_order=desc">Highest to Lowest</a>
    </li>
    <li><a href="/products?filter=sale">On Sale</a>
    </li>
    <li><a href="/products?discount=100">Discount</a>
    </li>
  </ul>
</div>
<br>
<br>

<% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <a href="/products/<%= product.id %>">
        <%=raw product.out_of_stock_badge %>
        <img src="<%= product.get_the_first_image %>" class="img-responsive">
      </a>
      <div class="caption">
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>
              <a href="/products/<%= product.id %>" class="product-link">
                <%= product.name %>
              </a>
            </h3>
          </div>
          <div class="col-md-4 col-xs-4 price">
            <h3>
            <label><%=number_to_currency( product.cost )%></label></h3>
          </div>
        </div>
        <p id="description"><%= product.description %></p>
        <!-- <div class="row">
          <div class="col-md-12">
            <a href="#" class="btn btn-success btn-product <%= product.buy_out_of_stock_class %>" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
        </div> -->

        <p> </p>
      </div>
    </div>
  </div>
<% end %>
</div> 