<div class="col-md-12">
<% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <a href="/products/<%= product.id %>">
        <img src="<%= product.image %>" class="img-responsive">
      </a>
      <div class="caption">
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <h3>
              <a href="/products/<%= product.id %>" class="product-link">
                <%= product.name %>
              </a>
            </h3>
          </div>
          <div class="col-md-4 col-xs-4 price">
            <h3>
            <label>$<%= product.cost %></label></h3>
          </div>
        </div>
        <p id="description"><%= product.description %></p>
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
        </div>

        <p> </p>
      </div>
    </div>
  </div>
<% end %>
</div> 