<% @products.each do |product| %>
  
  <div class="row">
    <div class="col-md-4">
      <a href="/products/<%= product.id %>"><img src="<%= product.image %>"></a>
    </div>

    <div class="col-md-8" product_details>
      <div class="row">
        <!-- <h2><a href="/products/<%= product.id %>"><%= product.name %></a></h2> -->
        <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
      </div> 

      <div class="row">
        <%= product.price %>
        <button class="btn btn-default" type="submit">Buy Now!</button>
      </div> 
      <div class="row">
        <%= product.description %>
      </div>
      <div class="row">
        <a data-confirm="Are you sure?" data-method="delete" href="/products/<%= product.id %>" rel="nofollow" class="btn btn-danger">Delete</a>
      </div>  
    </div> 
  </div>

<% end %>