<div class="col-md-12">
  <div class="col-sm-6 col-md-4">
    
    <!-- Carousel Div Start -->  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @product.images.each_with_index do |image, index| %>
          <li data-target="#myCarousel" data-slide-to="<%= index + 1 %>" class="<%= index == 0 ? 'active' : ''%>">
          </li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @product.images.each_with_index do |image, index| %>
          <div class="<%= index == 0 ? 'item active' : 'item' %>">
            <%= image_tag image.image_url, class: "center" %>
            <!-- <div class="carousel-caption">
                  ...
                </div> -->
          </div> 
        <% end %>      
      </div>

      <!-- Carousel Controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
  </div>

  <div class="col-sm-6 col-md-6">
      <div class="caption">
        <div class="row">
          <div class="col-md-12 col-xs-12 silver-border">
            <div class="row">
              <div class="col-sm-7 col-md-7">  
                <% if @product.sale_message %>
                    <h3>
                      <span id="sale_message" class="label label-info"><%= @product.sale_message %></span>
                    </h3>
                <% else %>
                <% end %>

                <h3><%= @product.name %></h3>
                <h5>By: <%= @product.supplier_name %></h5>
                
                <h5 class="category">Category: </h5>

                <% @product.categories.each do |category| %>
                  <h6 class="category"><%= category.name.titleize %>
                  </h6>
                <% end %>
                <br>

                <span id="<%= @product.stock_class %>"><%= @product.in_stock? %></span>
              </div>
              <div class="col-sm-5 col-md-5">
                <table id="price_table">
                  <tr>
                    <td><strong>Price: </strong></td>
                    <td><%=number_to_currency( @product.cost )%></td>
                  </tr>
                  <tr>
                    <td><strong>Tax: </strong></td>
                    <td><%=number_to_currency( @product.sale_tax )%></td>
                  </tr>
                  <tr>
                    <td><strong>Total: </strong></td>
                    <td><%=number_to_currency( @product.total_cost )%></td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row">   
              <div class="col-sm-12 col-md-12">
                <br>
                <p id="description"><%= @product.description %></p>

              </div>
            </div>

          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <%= form_tag "/carted_products", method: :post do %>
              
              <div class="form-group">
                <%= label_tag :quantity %>
                <%= text_field_tag :quantity %>
                <%= hidden_field_tag :product_id, @product.id %>
                
                <br>
                <%= submit_tag "Add to Cart", class: "btn btn-success btn-lg #{@product.buy_out_of_stock_class}" %>
                <!-- <span class='glyphicon glyphicon-shopping-cart'></span> -->

              </div>

            <% end %>

            <!-- <a href="#" class=""><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div> -->
        </div>
    </div>
  </div>
</div> 