<div class="col-md-12">
  <div class="col-sm-6 col-md-4">
      <img src="<%= @product.image %>" class="img-responsive">
  </div>
  <div class="col-sm-6 col-md-8">
      <div class="caption">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <h3>
              <span id="sale_message" class="label label-info"><%= @product.sale_message %></span>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-xs-8 silver-border">
            <h3><%= @product.name %></h3>
            <span id="<%= @product.stock_class %>"><%= @product.in_stock? %></span>
            <br>
            <br>
            <p id="description"><%= @product.description %></p>
          </div>
          <div class="col-md-4 col-xs-4">
            <table id="price_table">
              <tr>
                <td><strong>Price: </strong></td>
                <td>$<%= @product.cost %></td>
              </tr>
              <tr>
                <td><strong>Tax: </strong></td>
                <td>$<%= @product.sale_tax %></td>
              </tr>
              <tr>
                <td><strong>Total: </strong></td>
                <td>$<%= @product.total_cost %></td>
              </tr>
            </table>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
        </div>
    </div>
  </div>
</div> 